<div class="container">
  <div class="cont-img">
    <img src="./../../../assets/imgs/LogoLizarcode.png" alt="">
  </div>

  <div class="login">
    <h2>Bienvenidos</h2>

    <!-- CM: Input Nombre del Producto -->
    <ion-input class="ion-margin-top" label="Nombre Usuario" color="primary" label-placement="stacked" fill="outline" placeholder="Ingrese su nombre de Usuario"></ion-input>
    <ion-input class="ion-margin-top" type="password" label="Contraseña" label-placement="stacked" fill="outline" placeholder="Ingrese Contraseña"></ion-input>
    
    <div class="btn-others ion-margin-top">
      <ion-button expand="block" color="light">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Inciar Sesion con Google
      </ion-button>
      <ion-button expand="block" color="light">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Inciar Sesion con Facebook
      </ion-button>
    </div>


    <ion-button class="btn-login" expand="block" color="primary">
      Ingresar
    </ion-button>

    <h5 class="registrate">Si no tienes una cuenta, <span>Registrate</span></h5>
  </div>

  <div class="logos">
    <img src="./../../../assets/imgs/hombrohombro.png" alt="">
    <img src="./../../../assets/imgs/utp.png" alt="">
    <img src="./../../../assets/imgs/indeci.png" alt="">
  </div>
</div>