<div class="container">
  <ion-list>
    <button class="btn-producto" *ngFor="let p of productos">
      <div class="center">
        <h2>{{ p.nombre }}</h2>
        <h3>Caduca el: {{ p.fechaVencimiento | date }}</h3>
      </div>
      <ion-icon name="caret-forward-outline" size="medium"></ion-icon>
    </button>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="setOpen(true)" color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title> Formulario Producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form>
          <!-- CM: Input Nombre del Producto -->
          <ion-input class="ion-margin-top" label="Nombre del Producto" label-placement="stacked" fill="outline" placeholder="Ingrese el Nombre del Producto"></ion-input>

          <!-- CM: Input Cantidad del Producto -->
          <ion-input class="ion-margin-top" label="Cantidad" type="number" labelPlacement="stacked" fill="outline" placeholder="10"></ion-input>

          <!-- CM: Campo fecha de Vencimiento del Producto -->
          <ion-datetime-button class="ion-margin-top" expand="block" datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime"></ion-datetime>
            </ng-template>
          </ion-modal>

          <ion-button class="ion-margin-top" type="submit" expand="block" fill="outline">Agregar Producto</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>